.menu {
    width: 100%;
    height: 80px
}

.main svg .letter {
    fill: var(--main-color);
}

.home {
    width: 40%;
    max-width: 220px;
    float: left;
}

.navigation {
    float: right;
    width: 40%;
}

.navigation ul {
    float: right;
}

.navigation ul li {
    display: inline;
    margin-left: 20px;
}

.navigation ul li a {
    text-transform: uppercase;
}
